<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("carousel/panama.jpg") %>
      <div class="carousel-caption">
        these will be replaced with our own images
      </div>
    </div>
  
    <div class="item">
      <%= image_tag("carousel/blackandwhite.jpg") %>
      <div class="carousel-caption">
       caption
      </div>
    </div>
    <div class="item">
      <%= image_tag("carousel/table.jpg") %>
      <div class="carousel-caption">
       caption
      </div>
    </div>
    <div class="item">
      <%= image_tag("carousel/mendoza1.jpg") %>
      <div class="carousel-caption">
        caption
    </div>
    </div>
    <div class="item">
      <%= image_tag("carousel/corks.jpg") %>
      <div class="carousel-caption">
       caption
      </div>
    </div>
     <div class="item">
      <%= image_tag("carousel/val_delle_rose.jpg") %>
      <div class="carousel-caption">
       caption
      </div>
    </div>
     <div class="item">
      <%= image_tag("carousel/neri_grapes.jpg") %>
      <div class="carousel-caption">
       caption
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="jumbotron">
  <div class="blurb">
    <div class="row">
      <div class="col-md-6">
        <h2>where</h2>
        <hr>
        <div id="map"></div>
        <caption>
          <div id= "spacing">
            <i>A map of our six offices throughout the American continents.</i>
          </div>
        </caption>
      </div><!-- .col-md-6 -->
      <div class="col-md-6">
          <h2>about</h2>
          <hr>
          <div class="content">
            <p>
              GioWine was founded in 2000 by Giovanni Cardullo as an International Consulting Firm specializing in representing fine Italian wine. With offices in 5 countries, our onsite representatives provide you international experience and networks across the Americas.
            </p>
            <br>
            <p>
              We cultivate continuing contact between suppliers and clients to foster reliable and dynamic relationships. We work with genuine enthusiasm to develop brands and product sales internationally at a highly personal and technical level from the producer to the final consumer.
            </p>
            <br>
            <p class="bold">
             GioWine is the only team specialized in Italian wine to cover uninterrupted territory <a data-toggle="modal" data-target="#myModal" id="black" class="hvr-underline-from-center"> from Alaska to Tierra del Fuego!</a>
            </p>
          </div>
      </div><!--end column-->
    </div><!--end row-->
  </div><!--end .blurb-->
  <div class="blurb">
    <div class="row">
      <div class="col-md-12">
        <h2>our partners</h2>
        <hr>
      </div>
    </div>
    <div class="partners" id="close">
      <div class="row">
        <% brands = [
          {name:'Batasiolo', img:'brands/batasiolo.png', url:'http://www.batasiolo.com/'},
          {name:'Casale del Giglio', img:'brands/casale.png', url:'http://www.casaledelgiglio.it/en/'},
          {name:'Casanova Di Neri', img:'brands/casanova.png', url:'http://www.casanovadineri.it/'},
          {name:'Castello Monaci', img:'brands/monaci.jpg', url:'http://www.castellomonaci.com/en/wine-experience-salento/'},
          {name:'Cecchi', img:'brands/cecchi.png', url:'http://cecchi.net/'},
          {name:'Fantinel', img:'brands/fantinel.png', url:'http://www.fantinel.com/'},
          {name:'Farnese', img:'brands/farnese.png', url:'http://www.farnesevini.it/'},
          {name:'Fontana Candida', img:'brands/fontana.jpg', url:'http://www.cantinefontanacandida.it/en/'},
          {name:'Maschio', img:'brands/maschio.png', url:'http://www.cantinemaschio.it/'},
          {name:'Masi', img:'brands/masi.png', url:'http://www.masi.it/'},
          {name:'Mazzei', img:'brands/mazzei.png', url:'http://www.mazzei.it/'},
          {name:'Planeta', img:'brands/planeta.png', url:'http://www.planeta.it/'},
          {name:'Riunite', img:'brands/riunite.png', url:'http://www.riunite.com/'},
          {name:'Lazzaroni', img:'brands/lazzaroni.jpg', url:'http://www.lazzaronisaronno.com/'},
          {name:'Crus et Prestige', img:'brands/cetp.png', url:'http://crus-et-prestige.com/'},
          {name:'Vigouroux', img:'brands/vigouroux.jpg', url:'http://www.g-vigouroux.fr/'},
          {name:'Cattier', img:'brands/cattier.jpg', url:'http://www.cattier.com/'},
          {name:'Ferrarelle', img:'brands/ferrarelle.png', url:'http://www.ferrarelle.it/lazienda/il-mondo-di-ferrarelle-s.p.a.html'},
          {name:'Mutti', img:'brands/mutti.jpg', url:'http://www.mutti-parma.com/en'},
          {name:'Rustichella', img:'brands/rustichella.png', url:'http://rustichella.it/index.php?lang=it'},
          ]
        %>
        <% brands.each do |brand| %>
          <div class="col-sm-3 col-xs-6">
            <a href="<%= brand[:url] %>" target="_blank">
              <%= image_tag(brand[:img], alt: brand[:name], width:180) %>
            </a>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div><!-- /.companies -->
</div><!-- /.jumbotron -->



<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> We promote fine Italian products in the following X countries:</h4>
      </div>
      <div class="modal-body">
        <p>• <strong>North America:</strong> United States</p>
        <p>• <strong>Central America:</strong> Mexico, Belize, Bolivia, Costa Rica, El salvador, Guatemala, Honduras, Nicaragua, Panama</p>
        <p>• <strong>Caribbean:</strong> Antigua & Barbuda, Aruba, Bahamas, Barbados, Bermuda, British Virgin Islands, Cayman Islands, Curacao, Dominican Republic, Haiti, Martinique, Netherlands Antilles, Puerto Rico, Saint Lucia, Saint Martin, Saint Thomas, Trinidad & Tobago, Turks & Caicos, U.S. Virgin Islands</p>
        <p>• <strong>South America:</strong> Argentina, Brazil, Chile, Colombia, Guyana, Paraguay, Peru, Uruguay, Venezuela </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<%= stylesheet_link_tag '//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css',
                        'index',
                        'leaflet.awesome-markers',
                        media: 'all' %>
<%= javascript_include_tag  '//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js',
                            'leaflet.smoothmarkerbouncing',
                            'underscore-min',
                            'index',
                            media: 'all' %>
