<!-- <div class="try">
</div> -->


<!-- /TRYING -->
<!-- <div class="bg" data-zero="background" data-fivehundred="background-position:50%">
</div>
-->



<div class="jumbotron">
  <div class="blurb">
      <div class="container">
          <div class="col-md-5">
                        <br>
              <h2>wine</h2>
              <p>As of 2013, GioWine collaborates with onsite partners to offer the taste? of innumerable appellations within the regions of Bordeaux, Burgundy, Cahors, Champagne, and the Rhone Valley.  Each chateau/producer brings its own expression to stipulated regional grape varieties and distinct apellation terroir.  We offer an extensive and representative  variety of wines in terms of style and prestige that allow a highly personal adaptation for each of our XXX markets. Explore our map to learn more about each particular region!
              </p>
          </div>
          <div class="col-md-7">
            <div id="map3"></div><!-- /MAP-->
            <caption> <div id="spacing"><i>Each marker on this map of France represents a region from which we sell a variety of wines. For more information click on the marker.</i></div>
          </div>



  <!--Modals-->

      <% modals = [
        { id:   'bordeaux',
          title:'BORDEAUX',
          body:[{
            html: %W(
              #{image_tag("winery/planeta.jpg", alt:"Planeta Winery", :class =>"full")}
              ).join(' '),
caption: "Grands Crus of Bordeaux",
quote: "Bordeaux’s world famous dry, powerful reds from Médoc, the dry, crisp whites from Graves, the sweet golden whites of Sauternes, elegant, full bodied Saint Emilions and Pomerols are among our GioWines. From good value for money petits chateaux to the most coveted and prestigous grands crus, we are proud to share with you the tremendous variety Bordeaux has to offer. We invite you to explore the official Bordeaux wine website to learn more about the regions, grape varieties, and flavors that are so acclaimed in the world of wine."
}],
logo:{
  src: 'brands/cetp.png',
  alt: 'Planeta logo'
},
link:'http://www.bordeaux.com/us'
},
{ id:   'cahors',
  title:'CAHORS',
  body:[{
    html: %W(
      #{image_tag("winery/harvest.jpg", alt:"Batasiolo Winery", :class =>"full")}
      ).join(' '),
caption: "Harvest time at the Batasiolo vineyards | Region: Piemonte",
quote: "In the old local dialect the word 'beni' means a property or estate, and it is this idea of the unbreakable bond existing between the farmer and his vineyard which is encapsulated in the name 'Beni di Batasiolo.'"
}],
logo:{
  src: 'brands/batasiolo.png',
  alt: 'Batasiolo logo'
},
link:'http://www.batasiolo.com/'
},
{ id:   'champagne',
  title:'CHAMPAGNE',
  body:[{
    html: %W(
      <iframe width="100%" height="375" src="https://www.youtube.com/embed/vd-MMShhxRs" frameborder="0" allowfullscreen></iframe>
      ).join(' '),
caption: "Maschio's 2012 commercial for their Pinot Rosa wine, giving tasters a \"sparkling moment\" | Region: Veneto",
quote: "These are products that satisfy even the most demanding palates at the most particular moments. For over 40 years Maschio has been a synonym of quality and a guarantee of success."
}],
logo:{
  src: 'brands/maschio.png',
  alt: 'Cantine Maschio logo'
},
link:'http://www.cantinemaschio.it/en'
},
{ id:   'burgundy',
  title:'BURGUNDY',
  body:[{
    html: %W(
      #{image_tag("winery/mazzei.jpg", alt:"Mazzei Winery", :class =>"full")}
      ).join(' '),
caption: "The Mazzei vineyards are visible from the village of Gelso | Region: Toscana",
quote: "Today, after almost <strong>six centuries</strong>, the Mazzei family still devotes itself to winemaking, with constant commitment, an eye towards innovation, and an abiding respect for the land."
}],
logo:{
  src: 'brands/mazzei.png',
  alt: 'Mazzei logo'
},
link:'http://www.mazzei.it/eng_intro/no_intro:1'
},
{ id:   'rhone',
  title:'RHONE VALLEY',
  body:[{
    html: %W(
      #{image_tag("winery/farnese.jpg", alt:"Farnese Winery", :class =>"full")}
      ).join(' '),
caption: "The Farnese vineyard is located in the beautiful Cupa valley | Region: Abruzzo",
quote: "The wines from Abruzzo became famous worldwide in the 16th century, thanks to Princess Margaret of Austria and Prince Farnese, who began producing high quality wines which were enjoyed at feasts throughout Europe. The Farnese group carry on this reputation and tradition with advanced programs of production and marketing."
}],
logo:{
  src: 'brands/farnese.png',
  alt: 'Farnese logo'
},
link:'http://www.farnesevini.it'
},

] %>

<% modals.each do |modal| %>
<div class="modal fade" id="<%= modal[:id] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><%= modal[:title] %></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-7">
              <% modal[:body].each_with_index do |item, index| %> 
              <%= item[:html].html_safe %>
            <p class="caption">
              <%= item[:caption] %>
            </p>
          </div>
           <div class="col-md-5">
              <blockquote>
                  <p>
                    <%= item[:quote] %>
                  </p>
                </blockquote>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= image_tag modal[:logo][:src], alt: modal[:logo][:alt] %>
        <a href="<%= modal[:link] %>" target="_blank">
          <button type="button" class="btn btn-default">
            View Website
          </button>
        </a>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>

    </div>

  </div>
</div>
<% end %>




      </div><!-- /container-->
  </div><!-- /blurb-->
</div><!-- /jumbotron-->

           
    






<%= stylesheet_link_tag '//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css',
'leaflet.awesome-markers',
'bootstrap-modal-carousel',
'winefrance',
media: 'all' %>
<%= javascript_include_tag  '//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js',
'leaflet.awesome-markers',
'leaflet.smoothmarkerbouncing',
'underscore-min',
'bootstrap-modal-carousel',
'winefrance',
media: 'all' %>
