<div id="header" class="fixed">
  <div class="big">
    <%= link_to root_path do %> <%= image_tag('the_big_logo_compress.png', alt: 'Giowine logo') %> <% end %>
    <p class="center">Your Link to the Americas</p>
  </div>
  <div class="small">
    <%= link_to root_path do %> <%= image_tag('small_logo_compress.png', alt: 'Giowine logo') %> <% end %>
  </div>
  <nav>
    <div class="flexrow center">
      <div class="element">
       <%= link_to 'Products', wine_path, :class => "hvr-underline-from-center #{'active' if request.fullpath == wine_path }" %>
      </div>
      <div class="element">
         <%= link_to 'Contact', contact_path, :class => "hvr-underline-from-center #{'active' if request.fullpath == contact_path }"  %>
      </div>
      <div class="element">
        <%= link_to 'Español', contact_path, :class => "hvr-underline-from-center" %>
      </div>
    </div>
  </nav>


</div>

